//script(src='/socket.io/socket.io.js') 
//script
//  var socket = io.connect('http://localhost');        
//  socket.on('connect', function () {                 
//    $('#notesList').addClass('connected');
//  });
//
//  socket.on('user note', message);
//
//  function message(from, msg) {
//    $('#lines').append($('<p>').append($('<b>').text(from), msg));
//  }

title Write a New Note!
div
  div#header
    h2 CrowdNotes
    p Note for 
      strong #{myEvent.name} 
      a(href='/setEvent') 
        em Change Event
  div
    form(method='post')
      div
        textarea(id='note', name="note", rows="15", cols="100%", placeholder='What are you learning, #{currentUser.name.first}?')
        input(type='hidden', name='eventid', value='#{myEvent._id}')
      br
      div.button
        input(type="submit", value="Save My Note!")
  div
    h3 Current Notes From This Event
    //#notesList
    div.currentNotes
      - if (currentNotes.length === 0)
        p Your note could be the first!
      - else
        each note in currentNotes
          div
            p= note.date.toLocaleTimeString()
            p= note.body

div.button 
  a(href='/account') HOME
