//script(src='/socket.io/socket.io.js') 
//script
//  var socket = io.connect('http://localhost');        
//  socket.on('news', function (data) {                 
//    console.log(data);
//    socket.emit('my other event', {my: 'data'});
//  });

title Write a New Note!
p 
  a(href='/') HOME
div.container_12
  h2#header.grid_12 CrowdNotes - Write a Note!
  div.clear

  div.grid_4
    p Hi, #{everyauth.user.name.first}!
    p What are you learning?
    form(method='post')
      div
        label(for='note') Note: 
        br
        textarea(id='note', name="note", rows="15", cols="30")
      br
      div
        p My Event: #{myEvent.name} 
          a(href='/setEvent') Change Event
        input(type='hidden', name='eventid', value='#{myEvent._id}')
      br
      div
        input(type="submit", value="Save My Note!")
  div.grid_8
    h5 Current Notes From This Event
    div.currentNotes
      each note in currentNotes
        div.grid_8
          p.grid_1= note.date.toLocaleTimeString()
          p.grid_5= note.body
          div.clear
        div.clear
  div.clear
